extends layout

block content
  .container
    .page-header
      h3 List of Terms

    table.table.table-striped
      thead
        tr
          td Name
          td Domain Name
      tbody
        each service in terms
          tr
            td
              = service.name
            td
              = service.serviceDomains
            td
              a(href='/terms/' + service._id) Edit
